.container-all-edit-2 {
    min-height: calc(100vh);
    background-color: #E4EEF7;
}

.container-all-edit-2 {
    box-sizing: border-box;
    display: flex;
}

.container-all-edit {
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
    margin-left: 200px;
}
  
.container-all-edit h1 {
    margin-top: 100px;
    margin-left: 70px;
    font-family: poppins, sans-serif;
    text-align: left;
    color: #151516;
    font-size: 24pt;
}
  
.container-edit {
    margin: 30px 70px 70px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;
}

:link {
    text-decoration: none;
}
  
.container-edit .card-edit {
    position: absolute;
    width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    border-radius: 15px;
}
  
.container-edit .card-edit .content-edit {
    position: relative;
    z-index: 2;
}

.container-edit .card-edit .content-edit p {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 280;
    line-height: 24px;
    color: #151516;
}

.container-edit .card-edit .content-edit .image {
    width: 250px;
    height: 150px;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.content-edit {
    padding: 15px;
}

.container-edit .card-edit .content-edit .details-edit h2 {
    font-size: 20px;
    color: #151516;
}

.text_upload {
    background-color: #e8ebec;
    border-radius: 5px;
    border-style: none;
    width: 400px;
}

.form-text {
    text-align: left;
    text-indent: 0%;
}

.btn-submit {
    margin-top: 50px;
    margin-bottom: 15px;
}

.btn-primary, .btn-primary:hover {
    background: #2447f9;
    color: #fff;
    border: 0;
}

.btn-primary {
    font-size: 16px;
    padding: 11px 42px;
    border-radius: 100px;
    font-weight: 500;
}

.mt-2 {
    margin-top: 0.5rem!important;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 60px;
}

.btn-primary {
    color: #fff;
    background-color: #2447f9;
}

.btn {
    align-items: center;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #2447f9;
    padding: 10px 30px;
    font-size: 12pt;
    border-radius: 30px;
}