.wrapper
    .product-single
        .product-gallery
            .slider-arrows
                i#prev-slide.fa.fa-fw.fa-arrow-circle-o-left
                i#next-slide.fa.fa-fw.fa-arrow-circle-o-right
            #slider-wrap
                ul.slides
                    li
                        img(src="https://storage.googleapis.com/chydlx/codepen/simple-product-card/yoshi-yarn-1.jpg", alt="")
                    li
                        img(src="https://storage.googleapis.com/chydlx/codepen/simple-product-card/yoshi-yarn-2.jpg", alt="")
                ul.nav-dots
                    - var i = 0
                    while i < 2
                        if i == 0
                            li.active
                        else
                            li
                        - i++
        .product-details
            h1.product-title Green Mega Yarn Yoshi
            h3.product-cost $39.99
            .product-rating
                ul
                    li.fa.fa-fw.fa-lg.fa-star
                    li.fa.fa-fw.fa-lg.fa-star
                    li.fa.fa-fw.fa-lg.fa-star
                    li.fa.fa-fw.fa-lg.fa-star
                    li.fa.fa-fw.fa-lg.fa-star-half
                span.product-reviews: a(href="#") 10 Reviews
            .product-description
                p.
                    Made from actual yarn, Yoshi™ has never been more adorable! Kind-hearted, naturally protective of others, and perpetually hungry, Yoshi™ is always up for adventure...there are so many mysteries to explore and new things to find!
            .product-cta
                button.product-atc Add to Cart
                button.product-atw Add to Wishlist
            .product-info
                span.product-sku SKU #12345678